button {
    display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        border-radius: 8px;
        height: 32px;
        width: 32px;
        cursor: pointer;
    }
    
    .btn_beforeOrder {
        background: #FFFFFF;
        border: 1px solid #f2f2f2;
    }
    
    .btn_favorite {
        background: #FFFFFF;
        border: 1px solid #f2f2f2;
    }
    
    .btn_afterOrder {
        background: linear-gradient(180deg, #89F09C 0%, #3CC755 100%);
        border: none;
    }